/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
@font-face {
  font-family: cardoFont;
  src: url(font/Cardo-Regular.ttf);
}

@font-face {
  font-family: cormorantFont;
  src: url(font/CormorontSC-Bold.ttf);
}

@font-face {
  font-family: pinyonFont;
  src: url(font/PinyonScript-Regular.ttf);
}

div {
  font-family: Lato ;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

body {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: #FFFDF5;
  height: auto;
  min-height: calc(100vh);
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
body #wrapper {
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body #wrapper #container {
  background: white;
  height: 385px;
  min-width: 600px;
  width: 600px;
  border-radius: 15px;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  }

  body #wrapper #container #left-col {
  width: 50%;
  min-width: 300px;
  height: 300px;
  border-radius: 15px;
  padding-left: 10px;
  float: left;
  background: rgb(255,187,187);
}

body #wrapper #container #right-col {
  width: 40%;
  min-width: 240px;
  height: 100%;
  float: right;
  background: #ffffff;
}

.container {
  display: inline-flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-around;
  width:  100%;
  height: 500px;
}

.container .block1 {
    background-color: #ffffff;
    width: 20%;
    border-radius: 15px;
  }

.container .block2 {
    background-color: #ffffff;
    width: 20%;
  }

.container .block3 {
    background-color: #ffffff;
    width: 20%;
  }

h1 {
  font-family: "pinyonFont";
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  color: rgb(255, 69, 114);
  font-size: 5rem;
  
}

h2 {
  font-family: "cormorantFont";
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  color: rgb(255, 69, 114);
  font-size: 3.5rem;
  font-weight: 400;
}

h3 {
  font-family: cormorantFont;
  margin-top: 1rem;
  /* margin-left: 1.5rem; */
  font-size: 1.5rem;
}

h4 {
  font-family: cormorantFont;
  margin-bottom: 0.25rem;
  margin-left: 1.5rem;
}

p {
  font-family: "Lato";
  margin-top: 0;
  /* margin-left: 2rem; */
}
.left-indent{
margin-left: 2rem;
}





nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  
}




nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

footer {
  width: 100%;
  
  display: inline-block;
  margin: 2em 0;
  height: 150px;
  color: #FFFFFF;
  margin-top: 5rem;
  background-color: #301A4B;
  margin-bottom: 0%;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the In text Link */
.text-link {
  color: rgb(239, 176, 125);
}

.text-link:hover, .text-link:focus {
  color: rgb(255,187,187);
}

/* Styling for the navigation button */
.button-nav {
  /*display: inline-block;
  float: right;*/
  font-family: "cormorantFont";
  padding: 0.5rem;
  
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  background-color: none;
  padding-inline: 2rem;
  margin-inline: 0.5rem;
  text-decoration: none;
  font-weight: 400;
  transition-property: border-bottom-color; 
  
  border-bottom-style: solid;
  border-bottom-color: rgb(112, 255, 221);
  
  
 
  transition-duration: 0.3s;
}

.button-nav:hover, .button-nav:focus {
  
  border-bottom-color:rgb(39, 39, 39);
}

.button{
  display: inline-block;
 
  padding: 0.5rem;
  margin-top: 0.5rem;
  color:rgb(255, 255, 255);
  border-radius: 15px;
  background-color:rgb(255, 69, 114);
  padding-inline: 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.button:hover, .button:focus{
  background-color: rgb(255, 143, 171);
}

.text-center {
  text-align: center;
}

body #wrapper #container form label {
  display: block;
  padding: 6px;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 14px 0 4px;
}

body #wrapper #container form input {
  display: block;
  padding: 6px 18px;
  padding-left: 2rem;
  border: 2px solid lightgrey;
  border-radius: 10px;
  font-size: 0.9em;
}

body #wrapper #container form textarea {
  display: block;
  padding: 6px 8px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  font-size: 0.9em;
}

body #wrapper #container form input#name {
  width: calc(50% - 18px);
}
body #wrapper #container form input#email {
  width: calc(50% - 18px);
}
body #wrapper #container form input#phone {
  width: calc(50% - 18px);
}

body #wrapper #container form textarea#bigfield {
  width: calc(100% - 18px);

}


.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* service listings */
.listing-group{
  display: flex;
  
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  margin-right: 1rem;
}
 
 .listing-container {
    display: flex;
    
    flex-direction: column;
    color: black;
    stroke: rgb(34, 45, 44);
    width: 300px;
    
    
    padding-inline: 5rem;
    
    padding-bottom: 2rem;
    border: 0.1rem;
    border-color: #301A4B;
  }
  
  .listing-container > div {
    
    background-color: #FFFDF5;
    
    color: black;
    width: 100%;
    padding-bottom: 1rem;
    
    padding-inline: 3rem;
    text-align: center;
    line-height: 1rem;
    border: 2rem;
    border-color: #301A4B;
  }

  .checkout {
    display: flex;
    /* border: 1px solid #c3c3c3; */
    justify-content: flex-start;
    flex-direction: row;
    width: 600px;
    
    
  }

  .cart{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    color: black;
    width: 25%;
    height:50%;
    margin: 10px;
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 15px;
    border-color:rgb(255,187,187);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  }
  .cart-box{
    width: 100%;
    height: 85%;
    
  
    
    
   }

   .cart-header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: left;
   }

   .bottom-cart{
    font-family: 'Roboto';
    margin: auto;
    width: 90%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 1rem;
    flex-direction: row-reverse;
    
   }
   
  
   .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
    width: 100%;
   }

   .about > div{
    padding-block: 2rem;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Cormorant';
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #909090;
   }

   .items{
    margin: auto;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   } 

   .prices{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 0.1rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-color: rgb(255,187,187);
   }




   .card-form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 40%;
    height: auto;
    margin: 10px;
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 15px;
    border-color: rgb(255,187,187);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  }

  .card-fields{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: left; */
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-evenly;
    color: black;
    width: 97%;
    margin: 10px;
    
  }

  .fields{
    display: flex;
    padding: 0 5%;
    padding-bottom: 1.5rem;
    flex: 50%;
    justify-content: left;
    
    flex-direction: column;
    border-radius: 15px;
    background-color:rgb(255,187,187);
    color: black;
  }

.text-entry{
  display: inline-block;
  
  margin-top: 0.2rem;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 0.15rem;
    border-radius: 10px;
    border-color: #FFFFFF;
  color: #301A4B;
  padding-block: 0.5rem;
}

.label{
  margin-top: 0.5rem;
}

.reservations{
  display: flex;
 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.adopt{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:80%;
  justify-content: center;
}

.billy-text{
  width:30em; 
  margin-left:1rem ;
}
  
.link{
color: #FFFFFF;
}

